body {
    padding: 0;
    margin: 0;
}

div {
    height: 400px;
    width: 100%;
}

.linear-gradient-1 {
    background: linear-gradient(to left, purple, white);
}

.linear-gradient-2 {
    background: linear-gradient(45deg, yellow, black 30%);
}

.linear-gradient-3 {
    background: linear-gradient(
        to right,
        red, 
        orange, 
        yellow,
        green,
        blue,
        indigo,
        violet
    );
}

.radial-gradient-1 {
    background: radial-gradient(red, pink);
}

.radial-gradient-2 {
    background: radial-gradient(blue, orange 30%);
}

.radial-gradient-3 {
    background: radial-gradient(circle, red 5%, white 15%);
}