/* http: //typecast.com/blog/a-more-modern-scale-for-web-typography */

/* work sans
neuton */


body {
  background-color: #FFFFFF;
}

h1 {
  font-family: 'Neuton', serif;
  font-size: 3rem;
    color: #093C60;
}

h2 {
  font-family: 'Neuton', serif;
  font-size: 2.25rem;
    color: #093C60;
}

.cost-to-adopt {
  font-family: 'Neuton', serif;
  font-size: 1.25rem;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

li {
  list-style-type: none;
  display: inline;
}

.bold {
  font-weight: bold;
}

header {
  background-image: url('../images/christopher-harris-57366-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}

.logo-container {
  width: 50%;
}

.logo-container h2 {
  color: #81B741;
  font-family: 'Neuton', serif;
  font-weight: normal;
  margin-top: 0;
  font-size: 1.5rem;
}

.logo {
  width: 75%;
}

.checkout-container img {
  height: 25px;
  width: 25px;
}

.cart-total {
  color: #FFFFFF;
}

.checkout-container button {
  display: block;
  margin-top: 1rem;
  width: 10rem;
  background-color: #81B741;
  border-color: #81B741;
  color: #FFFFFF;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;

}

.main-nav {
  background-color: #ECECEC;
  color: #093C60;
  padding: 1rem;
}

.main-nav a,
.main-nav a:active,
.main-nav a:hover,
.main-nav a:visited {
  color: #093C60;
  text-decoration: none;
  font-family: 'Neuton', serif;
  font-size: 1.25rem;
}

nav li:nth-child(1):after,
nav li:nth-child(2):after {
  content: '/';
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

main {
  margin: 0 5rem;
}

.hero img {
  width: 100%;
}

.dog-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dog-tile {
  margin: 2rem 0;
  border: 1px solid grey;
  width: 30%;
  max-width: 400px;
}

.all-dogs .dog-tile {
  width: 20%;
}

.dog-tile h2,
.dog-tile p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dog-tile img {
  width: 100%;
}

.dog-tile .dog-information {
  padding: 0.5rem;
}

.dog-tile button {
  margin-top: 1rem;
  width: 100%;
  background-color: #81B741;
  border-color: #81B741;
  color: #FFFFFF;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: 'Work Sans', sans-serif;
}

.dog-tile button:hover {
  text-decoration: underline;
}

.main-content .button-container {
  margin: 2rem auto;
  text-align: center;
}

.button-container a,
.button-container a:hover,
.button-container a:visited {
  color: #093C60;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  margin: 2rem auto;
  width: 20rem;
  background-color: #ECECEC;
  border-color: #ECECEC;
  padding: 0.9375rem 2rem;
  text-align: center;
}

footer {
  background-color: #093C60;
  text-align: center;
  padding: 2rem 15rem;
}

footer > * {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer .logo {
  width: 32rem;
}

footer li:nth-child(1):after,
footer li:nth-child(2):after {
  content: '/';
  color: #FFFFFF;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

footer p,
footer a {
  color: #FFFFFF;
}

footer a,
footer a:hover,
footer a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

/* BLOG POSTS */

.blog-post-container {
  padding: 0 5rem;
  width: 100%;
}

.blog-post {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 90%;
}

.blog-post .image-container {
  width: 100%;
}

.blog-post .blog-text {
  padding-top: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.blog-post img {
  width: 100%;
}